<!DOCTYPE html>
<html>
    <head>
        <title>Roman urdu abusive comments detector</title>
    </head>
    <body>
        <h1>Roman urdu abusive comments detector</h1>
        <form action="http://localhost:5000/" method="POST">
            <p>Enter sentence to check: <input type="text" value="" placeholder="Example: tm ache insan ho" name="sent"></p>
            <p><input type="submit" value="check"></p>
        {% if result == 1%}
        <p>this sentence is abusive</p>
        {%elif result == 0%}
        <p>this sentence is not abusive</p>
        {%else%}
        <p>please enter a sentence</p>
        {%endif%}
        </form>
    </body>
</html>